Source: cardinalsuite
Section: devel
Priority: optional
Maintainer: Ville M. Vainio <vivainio@gmail.com>
Uploaders: 
Build-Depends: debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), python, python-support (>= 0.4)
Homepage: http://webpages.charter.net/edreamleo/front.html
Standards-Version: 3.8.2

Package: cardinalsuite
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-qt4 (>= 4.4)
Conflicts: 
Replaces: 
Description: SSH-based development/tracing tool 
 Cardinal Suite connects to your device (Maemo / Meego / Harmattan),
 and provides a GUI frontend for doing tasks that previously
 needed tedious command line fiddling. 
