#!/usr/bin/make -f
# leo debian/rules file
DEB_PYTHON_SYSTEM=pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

install/leo::
	dh_installman -p$(cdbs_curpkg) debian/leo.1
	dh_install -p$(cdbs_curpkg) debian/leo.desktop /usr/share/applications
	dh_install -p$(cdbs_curpkg) leo/Icons/leoapp32.png /usr/share/icons/hicolor/32x32/apps
	dh_install -p$(cdbs_curpkg) leo/Icons/application-x-leo-outline.png /usr/share/icons/hicolor/32x32/mimetypes
	dh_installmime -p$(cdbs_curpkg)
	

